[Unit]
Description=DokuWiki Container
#Requires=docker.service
#After=docker.service
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket
[Service]
WorkingDirectory=/home/testforota04/SRC_Cloud/
Restart=always
ExecStart=/bin/bash systemd_src.sh
#ExecStart=/usr/bin/docker start -a mywiki
ExecStop=/bin/bash stop_container.sh

[Install]
WantedBy=multi-user.target
